body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #161637, #322f6d); 
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, sans-serif;
}

.Cmage {
  width: 400px;
  height: auto;
  border: 5px solid #717171;
  margin-right: 5px;
  overflow:hidden
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px;
  height: 50pt;
  font-family: Arial, sans-serif;
}

#title {
  margin-left: 15px;
  color: black
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header {
  text-align: center;
}

header img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

main {
  margin: 100px;
  margin-top: -10px;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.info {
  flex: 1 1 45%;
  margin-right: 20px;
}

.info h2 {
  color: #161637;
  font-size: 24px;
  margin-bottom: 10px;
}

.info p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.image-section {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .info-section {
    flex-direction: column;
  }
  .info {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .image-section {
    margin-top: 20px;
  }
  .image-section img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .info h2 {
    font-size: 20px;
  }
  .info p {
    font-size: 14px;
  }
  .button {
    padding: 8px 16px;
    font-size: 12px;
  }
}

.helpful-tips {
  text-align: center;
  margin-top: 40px;
  color: white;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.content {
  padding: 20px;
}

.content h3 {
  color: #161637;
  margin-bottom: 10px;
}

.content p {
  color: #333;
  margin-bottom: 20px;
}

.btn {
  background-color: #161637;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #554fb2;
}

@media (max-width: 768px) {
  .content-row {
    flex-wrap: wrap;
  }
  .card {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .content-row {
    flex-direction: column;
  }
  .card {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .content h3 {
    font-size: 18px;
  }
  .content p {
    font-size: 14px;
  }
  .btn {
    padding: 8px 16px;
    font-size: 12px;
  }
}
.map {
  text-align: center;
  padding: 50px;
}

.map h1 {
  color: white;
}

.map a {
  display: inline-block;
  background-color: white;
  border-radius: 100%;
  padding: 30px;
}

.map a i {
  font-size: 5rem;
  color: darkred;
}

#org {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.slideshow-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.mySlides {
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

img {
  max-width: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 20px;
}

.active,
.dot:hover {
  background-color: #717171;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 50px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.slide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100%;
}

img:hover {
  transform: scale(1.1);
}

.description {
  width: 60%;
  font-size: 1.2em;
  text-align: left;
  color:black;
  text-align: justify;
}

@media (max-width: 768px) {
  .slide-content {
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  .description {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: justify;
  }
}

section {
  margin-top: 80px;
}
section h1 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: white;
}
.container {
  width: 100%;
  padding: 0 10px;
}

.policy-section {
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease;
  background: linear-gradient(to bottom right, #181736, #39367d); 
  border: 2px solid #001a33;
}
.policy-section:hover {
  transform: translateY(-5px);
}
.policy-section h2 {
  font-size: 18px;
  margin: 0;
  padding: 15px;
  background-color: linear-gradient(to bottom right, #0c0c8d, #b9b9f9);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 12px 12px 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #001a33;
}
.accordion {
  background-color: #353274;
  color: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 0 0 12px 12px;
  text-align: center;
  position: relative;
  z-index: 1;
  border-top: 2px solid #2f0946;
}
.accordion:hover {
  background-color: #413d8f;
}
.accordion.active {
  background-color: #2a0b5c;
  color: white;
}

.panel {
  padding: 0;
  background-color: white;
  border-radius: 0 0 12px 12px;
  position: relative;
  z-index: 1;
  border-top: 2px solid #554fb2;
  display: none;
  max-height: 0;
  max-height: 300px;
  overflow-y: auto;
}
.panel-content {
  padding: 14px;
}
.policy-list {
  list-style-type: circle;
  margin-left: 4px;
}
.policy-list li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #270b5c;
  border-radius: 12px;
  padding: 20px;
  z-index: 9999;
  color: black;
}
.popup-button {
  background-color: #230b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
  display: block;
  margin: 20px auto;
}
.popup-button:hover {
  background-color: #413d8f;
}

.popup-content {
  overflow-y: auto;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.hehe {
  color: white; 
  text-align: center;
}

@media only screen and (max-width: 768px) {
  section {
    margin-top: 40px;
  }

  section h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .policy-section h2 {
    font-size: 16px;
    padding: 10px;
  }

  .accordion {
    padding: 10px;
  }

  .panel-content {
    padding: 5px;
    overflow-x: hidden;
  }

  .policy-list {
    padding-left: 15px;
  }
